/* Cart.css */

.cart {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .cart-icon {
    font-size: 24px;
    margin-right: 8px;
  }
  
  .cart-count {
    background-color: #ff0000;
    color: #ffffff;
    font-size: 12px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8px;
    right: -8px;
  }
  
  .cart-items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px; /* Adjust width as needed */
    max-height: 200px; /* Adjust max height as needed */
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .cart:hover .cart-items {
    display: block; /* Show on hover */
  }
  
  .cart-item {
    padding: 10px;
  border-bottom: 1px solid #ccc;
  }
  
  .item-name {
    font-weight: bold;
  }
  
  .item-price {
    color: #666666;
    font-size: 14px;
  }
  .cart-item:last-child {
    border-bottom: none;
  }
  /* Cart.css */

/* Other cart styles */

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .delete-btn:hover {
    background-color: darkred;
  }
  
  